In [1]:
import pandas as pd

In [2]:
s = pd.Series([10, 4, 22, 1, 7])

In [3]:
s

0    10
1     4
2    22
3     1
4     7
dtype: int64

In [15]:
office_dict = {
    'limbaje': ['Python', 'Java', 'JavaScript'],
    'developeri': [4, 2, 3],
    'senioritate':[7, 2, 1]
}

In [16]:
office_dict

{'limbaje': ['Python', 'Java', 'JavaScript'],
 'developeri': [4, 2, 3],
 'senioritate': [7, 2, 1]}

In [18]:
df = pd.DataFrame.from_dict(office_dict)

In [19]:
df

      limbaje  developeri  senioritate
0      Python           4            7
1        Java           2            2
2  JavaScript           3            1

In [14]:
df.describe()

       developeri
count         3.0
mean          3.0
std           1.0
min           2.0
25%           2.5
50%           3.0
75%           3.5
max           4.0

In [9]:
df.max()

limbaje       Python
developeri         4
dtype: object

In [10]:
df.head()

      limbaje  developeri
0      Python           4
1        Java           2
2  JavaScript           3

In [11]:
df.median()

developeri    3.0
dtype: float64

In [13]:
df['limbaje'][1]

'Java'

In [17]:
df

      limbaje  developeri
0      Python           4
1        Java           2
2  JavaScript           3